body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important
}

a:hover {
    text-decoration: none;
    cursor: pointer
}

.row {
    margin: 0
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #FFF url(img/pageload-spinner.gif) no-repeat center center
}

.présentation {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px double #F3976C
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative
}

.bloc-lg {
    padding: 60px 0
}

.arrow {
    display: flex;
    justify-content: center;
    color: #000
}

.bloc-md {
    padding: 50px
}

.bloc-sm {
    padding: 20px 0
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important
}

.bg-repeat {
    background: repeat
}

.bg-t-edge {
    background: top no-repeat
}

.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.texture-paper::before {
    background: url(img/texture-paper.png);
    background-size: 280px 280px
}

.b-parallax {
    background-attachment: fixed
}

.d-bloc {
    color: rgba(255, 255, 255, .7)
}

.d-bloc button:hover {
    color: rgba(255, 255, 255, .9)
}

.d-bloc .icon-round,
.d-bloc .icon-square,
.d-bloc .icon-rounded,
.d-bloc .icon-semi-rounded-a,
.d-bloc .icon-semi-rounded-b {
    border-color: rgba(255, 255, 255, .9)
}

.d-bloc .divider-h span {
    border-color: rgba(255, 255, 255, .2)
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: rgba(255, 255, 255, .6)
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
    color: rgba(255, 255, 255, 1)
}

.d-bloc .navbar-toggle .icon-bar {
    background: rgba(255, 255, 255, 1)
}

.d-bloc .btn-wire,
.d-bloc .btn-wire:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1)
}

.d-bloc .panel {
    color: rgba(0, 0, 0, .5)
}

.d-bloc .panel button:hover {
    color: rgba(0, 0, 0, .7)
}

.d-bloc .panel icon {
    border-color: rgba(0, 0, 0, .7)
}

.d-bloc .panel .divider-h span {
    border-color: rgba(0, 0, 0, .1)
}

.d-bloc .panel .a-btn {
    color: rgba(0, 0, 0, .6)
}

.d-bloc .panel .a-btn:hover {
    color: rgba(0, 0, 0, 1)
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3)
}

.d-bloc .panel,
.l-bloc {
    color: rgba(0, 0, 0, .5)
}

.d-bloc .panel button:hover,
.l-bloc button:hover {
    color: rgba(0, 0, 0, .7)
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
    border-color: rgba(0, 0, 0, .7)
}

.d-bloc .panel .divider-h span,
.l-bloc .divider-h span {
    border-color: rgba(0, 0, 0, .1)
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
    color: rgba(0, 0, 0, .6)
}

.d-bloc .panel .a-btn:hover,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-sm,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-xl,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
    color: rgba(0, 0, 0, 1)
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0, 0, 0, .6)
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3)
}

.voffset {
    margin-top: 30px
}

.voffset-lg {
    margin-top: 80px
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0
}

.row.row-no-gutters>[class^="col-"],
.row.row-no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0
}

.navbar {
    display: flex;
    justify-content: center
}

.navbar-brand {
    display: flex;
    justify-content: center;
    width: auto;
    border-bottom: 2px double #F3976C
}

#form_1 {
    margin-left: 50px
}

.form-group {
    padding-bottom: 10px
}

.adresse {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px
}

.nav-center .navbar-brand img {
    margin: 0
}

.nav>li {
    float: left;
    margin-top: 4px
}

.navbar-nav .open .dropdown-menu>li>a {
    text-align: inherit
}

.nav>li a:hover,
.nav>li a:focus {
    background: transparent
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0
}

.navbar-toggle:hover {
    background: transparent!important
}

.navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px
}

.nav-invert .navbar .nav {
    float: left
}

.navbar-row {
    display: flex;
    justify-content: center
}

.navbar-header {
    border-bottom: 2px double #F3976C
}

.underline {
    border-bottom: 2px double #F3976C
}

.container-bloc-sm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.comment {
    font-size: 18px;
    text-align: center
}

.name {
    font-size: 10px
}

.underline {
    border-bottom: 2px solid #F3976C;
    font-weight: 700
}

.nav>li>.dropdown a {
    background: none!important;
    display: block;
    padding: 14px 15px
}

nav .caret {
    margin: 0 5px
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.dropdown-menu .dropdown span {
    border: 4px solid #000;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin: 6px -5px 0 0!important;
    float: right
}

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px
}

.btn {
    margin: 0 5px 5px 0
}

.btn.pull-right {
    margin: 0 0 5px 5px
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3)
}

button {
    outline: none!important
}

.btn-rd {
    border-radius: 40px
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15)
}

.icon-md {
    font-size: 30px!important
}

.icon-lg {
    font-size: 60px!important
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3)
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0
}

.panel-rd {
    border-radius: 30px
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none
}

.scrollToTop span {
    margin-top: 6px
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-left: 15px
}

a[data-lightbox]:hover img {
    opacity: .6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none
}

#lightbox-modal {
    display: flex;
    align-items: center
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto
}

.lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px
}

.close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, .5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: .3
}

.next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: .4
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px
}

.snapshot-lb .modal-body {
    padding-bottom: 45px
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400
}

.h1 {
    font-size: 20px;
    font-family: "Open Sans"
}

h2 {
    font-size: 22px;
    line-height: 1.4em
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0 0 0 #000
}

h4 {
    color: #333333!important
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px
}

.white {
    color: #FFFFFF!important;
    text-align: center
}

.social {
    display: flex;
    justify-content: space-around;
    text-decoration: none
}

.portfolio-thumb {
    margin-bottom: 24px
}

.portfolio-row {
    display: flex;
    margin-bottom: 44px;
    margin-top: 50px
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center
}

.avatar {
    box-shadow: 0 4px 9px rgba(0, 0, 0, .3)
}

.black-background {
    background-color: rgba(165, 147, 99, .7);
    padding: 40px 40px 40px 40px
}

.bold-link {
    font-weight: 900;
    text-decoration: underline!important
}

.bgc-white {
    background-color: #FFF
}

.bgc-dark-slate-blue {
    background-color: #364577
}

.bgc-atomic-tangerine {
    background-color: #F3976C
}

.tc-white {
    color: #FFF;
    text-align: center
}

.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important
}

.btn-atomic-tangerine:hover {
    background: #c27956!important;
    color: #FFFFFF!important
}

.ltc-white {
    color: #FFFFFF!important
}

.ltc-white:hover {
    color: #cccccc!important
}

.ltc-atomic-tangerine {
    color: #F3976C!important
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important
}

.icon-dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important
}

.bg-dots-bg {
    background-image: url(img/dots-bg.png)
}

.bg-lines-h2-bg {
    background-image: url(img/lines-h2-bg.png)
}

.bg-banniere {
    background-image: url(img/la-chouette-agence-banniere.jpg)
}

.image__size {
    width: 50%
}

@media screen and (max-width:775px) {
    .bloc-md {
        padding: 10px
    }
    .bloc-lg {
        padding: 30px 10px
    }
    .présentation {
        font-size: 14px
    }
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 16px
    }
    h3 {
        font-size: 14px
    }
    .comment {
        font-size: 14px
    }
    .page-container {
        width: 100%
    }
    .portfolio-row {
        flex-direction: column;
        margin: 0
    }
    .col-sm-6 {
        margin-top: 20px
    }
    .comment {
        margin-bottom: 20px
    }
    .adresse {
        font-size: 12px
    }
}

@media screen and (max-width:775px) {
    #form_1 {
        margin-left: 5px
    }
    #social-network {
        display: flex;
        justify-content: space-around
    }
}